.homeContainer{
    padding: 20px;
    background-color: lightblue;

    animation: home-container-bg-anim 2.5s linear;
    animation-iteration-count: infinite;
}

@keyframes home-container-bg-anim {
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}

.right{
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.cur-team{
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}

.watchlist{
    background-color: white;
    height: 50%;
    margin: 10px;
    border-radius: 10px;
}

.league{
    background-color: white;
    height: 40%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.right{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.homeContainer{
    flex-shrink: 1;
    min-height: 0;
}