.modal-head {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.modal-headshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 5px;
}

.modal-head-player-info-1 {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.modal-head-player-info-2 {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.first-name {
    font-size: 22px;
    line-height: 20px;
}

.last-name {
    font-size: 22px;
    font-weight: bold;
}

.team-name {
    font-size: 15px;
    color: #797979;
}

.stat-table {
    display: table;
    margin-top: 12px;
    font-size: 13px;
}

.stat {
    width: auto;
    height: 20px;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.stat-name {
    color: #797979;
}

.stat-value {
    padding-left: 8px;
}

.player-stat-name {
    color: #797979;
    font-size: 14px;
    line-height: 15px;
}

.player-stat-value {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 7px;
}

.healthy {
    font-weight: bold;
    color: #009944;
}

.injured {
    font-weight: bold;
    color: #CC0000;
}

.modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.action-button {
    height: 40px;
    width: 48%;
    border-radius: 50px;
    border: 1px solid #797979;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.action-button:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 1px #797979;
}

.add-player {
    background-color: #009444;
    color: white;
    font-weight: bold;
}

.drop-player {
    background-color: #CC060C;
    color: white;
    font-weight: bold;
}

.owned-already {
    background-color: white;
}

.owned-already:hover {
    cursor: default;
    box-shadow: none;
}