.modal-head {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.modal-headshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 5px;
}

.modal-head-player-info-1 {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.modal-head-player-info-2 {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.first-name {
    font-size: 22px;
    line-height: 20px;
}

.last-name {
    font-size: 22px;
    font-weight: bold;
}

.team-name {
    font-size: 15px;
    color: #797979;
}

.stat-table {
    display: table;
    margin-top: 12px;
    font-size: 13px;
}

.stat {
    width: auto;
    height: 20px;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.stat-name {
    color: #797979;
}

.stat-value {
    padding-left: 8px;
}

.player-stat-name {
    color: #797979;
    font-size: 14px;
    line-height: 15px;
}

.player-stat-value {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 7px;
}

.healthy {
    font-weight: bold;
    color: #009944;
}

.injured {
    font-weight: bold;
    color: #CC0000;
}
