@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

.sidebar { 
    /* this doesn't work lol */
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.sectionButton{
    margin-right: 10px;
    margin-top: 0.7em;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    border-radius: 10px;
    color: grey;
}

.buttonText{
    font-size: 0.8em;
    margin-left: 7px;
    user-select: none;
}

.buttonText:hover{
    text-decoration: none;
}

.buttonText:visited{
    text-decoration: none;
    color: inherit;
}

.actions{
    margin-left: 20px;
    margin-right: auto;
}

.actionLabel{
    font-family: 'Mukta', sans-serif;
    font-size: 1.5em;
    color: grey;
}

.buttons{
    margin-left: 20px;
}

.logo{
    text-align: center;
}

#logo{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: grey 2px 2px 3px;
    border: solid black 2px;
}

.selected{
    background-color: #e5ddfd;
}

.link-change{
    transition-duration: 0.5s;
    user-select: none;
}

.link-change:hover{
    background-color: #e0e0e0;
}

.leftBar{
    background-color:#f1f1f1;
    height: 100%;
    margin-right: 20px;
}